body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
}

.container {
    background-image: linear-gradient(to bottom, #200C23, #5C1D67);
    margin: auto;
    width: 700px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;

}

.container-formulario {
    background-image: linear-gradient(to bottom, #5B1C66, #220E25);
    width: 90%;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    padding: 0.9rem;
}

.header-title {
    color: #FFCF23;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.header-subtitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 80%;
    height: 10px;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #ffffff;
}

.card-votacao {
    background-image: linear-gradient(to bottom, #3F62EF, #6FC5FD);
    border-radius: 5px;
    border-color: #2637DB;
    border-style: solid;
    border-width: 15px 10px;
    width: 25%;
    padding: 1000x;
    color: #FFFFFF;
    display: flex;
    margin-top: 40px;
}

.category {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.rodape {
    font-size: 12px;
    padding: 1%;
    font-weight: bold;
}

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }

    .card-votacao {
        width: 60%;
        box-sizing: border-box;
    }

    .container {
        width: 95%;
    }

    .container-formulario {
        width: 85%;
    }

    .header {
        padding: 15px;
    }
}